body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://www2.duoc.cl/50aniversario/sites/default/files/duoc_slider.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

body::-webkit-scrollbar{
    width: 15px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(181, 184, 6);
}

body::-webkit-scrollbar-thumb:hover{
    background: rgb(209, 212, 8);
}
